<footer class="footer">
  <div class="container-footer">

    <div class="footer__brand">
      <a href="/index.html" class="footer__brand-link">{{ site.title }}</a>
      <p>Интеллектуальные системы связи</p>
    </div>

<!--     <div class="footer__nav">
      <h5>Разделы</h5>
      {% include menu-bot.html %}
    </div> -->

    <div class="footer__contact">
      <h5>Контакты</h5>
      <p>Пишите нам:</p>
      <p><a href="mailto:s.kudryavtsev@smartvoice.pro">s.kudryavtsev@smartvoice.pro</a></p>
      <p><a href="mailto:a.losev@smartvoice.pro">a.losev@smartvoice.pro</a></p>
      <p>Сделано с <i class="far fa-heart"></i></p>
    </div>

  </div><!-- /.container-footer -->

</footer>