<div class="navbar__nav-top">
  
  <div class="menu-toggle">
    <span><i class="fas fa-bars"></i></span>
    <span><i class="fas fa-times"></i></span>
  </div>

  <ul class="navbar__ul-top">

    {% for item in site.menu %}
    <li class="{% if page.url == item.url %} navbar__active {% endif %}">
      <a href="{{ item.url }}">{{ item.name }}</a>
    </li>
    {% endfor %}

    <span class="navbar__ul-mobile">
      <hr>
      <li>Напишите нам:</li>
      <li><a href="mailto:support@kiddy.today">Support@kiddy.today</a></li>
      <li><a href="{{ site.github }}" target="_blank">GitHub <i class="fab fa-github"></i></a></li>
    </span>
  </ul>
</div>