.footer {
  font-size: 16px;
  background-color: #111;

  box-shadow: inset 0 3px 0 #00a0e3;
  
  h5 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
  }

  p {
    color: #808080;
    font-size: 16px;
  }

  a {
    color: #777;

    &:hover {
      color: #888;
    }
  }
}

.footer__brand {

  width: 100%;
  margin-bottom: 10px;

  .footer__brand-link {
    font-size: 20px;
    font-weight: 600;
    color: #fff;

    &:hover {
      color: #888;
    }
  }

  i {
    margin-right: 10px;
  }
}

.footer__nav {
  width: 100%;
  margin-bottom: 10px;

  .navbar__ul li {
    display: block;

    a {
      font-weight: 400;
    }
  }
}

.footer__contact {
  width: 100%;
}
