---
layout: default
---

{% if page.image %}
<div class="post__hero-img">
  <img src="{{ page.image }}" alt="{{ page.title }}">
</div>
{% else %}
{% endif %}


<div class="post__title">
  <h1>{{ page.title }}</h1>
  <div class="post__information">
    <span title="Время чтения">{% include read-time.html %}</span>
    <span>{{ page.type }}</span>
  </div>
</div>


{{ content }}


<div class="post__information post__information--date">
  <span>{% include date.html date=page.date %}</span>
</div>

<div class="container container--related-post">

  <div class="post__title post__title--related">
    <h3>Сейчас читают</h3>
  </div>

  {% for post in site.related_posts limit:6 %}
  <div class="post-card">
    <a href="{{ post.url }}">

      {% if post.image %}
      <img src="{{ post.image }}" alt="{{ post.title }}">
      {% else %}
      {% endif %}

    </a>
    <div class="card__body">
      
      <a href="{{ post.url }}">
        <h3 class="card__title">{{ post.title }}</h3>
      </a>
      
      {% if post.description %}
      <div class="card__description">
        <p>{{ post.description }}</p>
      </div>
      {% else %}
      {% endif %}

      <div class="card__date">
        <span><i class="far fa-clock"></i>{% include date.html date=post.date %}</span>
        {% if post.type %}
        <span class="card__type">{{ post.type }}</span>
        {% else %}
        {% endif %}
      </div>

    </div>

  </div>
  {% endfor %}

</div><!-- /.container -->

